header{
    background: rgb(255, 255, 255);
    color: rgb(66, 66, 66);
    -webkit-text-stroke-color: rgb(77, 77, 77);
    position: fixed;
    height: 60px;
    width: 100%;
}
.row1{
    padding: 15px 15px ;
}