<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'" class="lis">
        <i class="material-icons">supervised_user_circle</i>  <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
        <a routerLink="orders" [class.activated]="currentUrl == '/orders'" class="lis">
          <i class="material-icons">message</i>  <span class="text">Orders</span>
        </a>
    </li>
    <li>
        <a routerLink="requests" [class.activated]="currentUrl == '/requests'" class="lis">
          <i class="material-icons">supervised_user_circle</i>  <span class="text">Requests</span>
        </a>
      </li>
      <li>
          <a routerLink="reports" [class.activated]="currentUrl == '/reports'" class="lis">
            <i class="material-icons">message</i>   <span class="text">Reports</span>
          </a>
      </li>
  </ul>
</nav>
