<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'" class="lis" >
        <div class="text"> <i class="fas fa-tachometer-alt" style="color: #2ecc71"></i> &nbsp; <span>Dashboard</span></div>
      </a>
    </li>
    <li>
      <a routerLink="products" [class.activated]="currentUrl == '/products'" class="lis">
        <div class="text"> <i class="fas fa-compact-disc" style="color: rgb(244, 67, 54)"></i> &nbsp; Products</div>
      </a>
    </li>
    <li>
        <a routerLink="expenses" [class.activated]="currentUrl == '/expenses'" class="lis">
          <div class="text"> <i class="fas fa-credit-card" style="color: #ffa502"></i> &nbsp; Expenses</div>
        </a>
    </li>
    <li>
        <a routerLink="orders" [class.activated]="currentUrl == '/orders'" class="lis">
           <div class="text"> <i class="fas fa-receipt" style="color: #03A9F4"></i> &nbsp;&nbsp; Orders</div>
        </a>
    </li>
    <li>
      <a routerLink="booking" [class.activated]="currentUrl == '/booking'" class="lis">
        <div class="text"> <i class="fas fa-money-bill-wave" style="color: #78909C"></i> &nbsp; Booking System</div>
      </a>
    </li>
    <li>
        <a routerLink="requests" [class.activated]="currentUrl == '/requests'" class="lis">
          <div class="text"> <i class="fas fa-file-signature" style="color: #009688"></i> &nbsp; Requests</div>
        </a>
      </li>
      <li>
          <a routerLink="reports" [class.activated]="currentUrl == '/reports'" class="lis">
            <div class="text"> <i class="fas fa-chart-line" style="color: #e040fb"></i> &nbsp; Reports</div>
          </a>
      </li>
      <li>
          <a routerLink="returns" [class.activated]="currentUrl == '/returns'" class="lis">
            <div class="text"> <i class="fas fa-exchange-alt" style="color: #1e90ff"></i> &nbsp; Returns</div>
          </a>
      </li>
  </ul>
</nav>
