
nav {
  background: rgb(255, 255, 255);
  height: 100%;
  position: fixed;
  width: 15%;
  ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {

          a.lis {
              color: rgb(49, 49, 49);
              padding: 15px 20px;
              display: block;
              font-family: 'Poppins', sans-serif;

              text-decoration: none;
            }

          a:hover {
            background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9); 
            color: white;
          }
          a.activated {
            background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
            color: white;
            font-weight: bold;

          }

      }
  }
}
