/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

header{
    background: #2D2E2E;
    color: #fff;
    padding: 20px 20px 20px 20px;
    #hi{
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        padding: 20px 10px;
        -webkit-text-stroke-color: #fff;
    }
    #hi input[type=text] {
        border: none;
        font-size: 17px;
    }
}

#container {
 display: grid;
 grid-template-columns: 260px auto;
 height: 100%;

 #content {
     padding: 20px 30px;

     ul {
         list-style-type: none;
         margin:0;
         padding:0;

         li {
             background: #fff;
             border-radius: 8px;
             padding: 15px;
             margin-bottom: 3px;

             a {
                 font-size: 1.3em;
                 text-decoration: none;
                 font-weight: bold;
                 color:#00A8FF;
             }
                          
             ul {
                 margin-top: 20px;

                 li {
                     padding:0;

                     a {
                         font-size: 0.9em;
                         font-weight: 300;
                     }
                     
                 }
             }
         }
     }
 }
}
